
<section>
    <!-- Container -->
    <div class="px-5 py-16 md:px-10 md:py-20">
      <!-- Component -->
      <div class="mx-auto flex w-full max-w-3xl flex-col items-center text-center">
        <img src="images/tienda.png" alt="" class="mx-auto rounded-full mb-8 inline-block h-56 w-56 flex-none object-cover" />
        <h1 class="mb-4 text-4xl font-bold md:text-6xl">404 Error</h1>
        <p class="mx-auto mb-5 max-w-lg text-sm text-gray-500 sm:text-base md:mb-6 lg:mb-8"> Commodo, consequat turpis placerat ultrices sapien, tortor tincidunt. Sit quisque est metus auctor sed turpis lectus quis. </p>
        <a type="button" [routerLink]="['/login']" routerLinkActive="router-link-active"
         class="inline-block items-center rounded-md bg-indigo-600 px-5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"> Back Home </a>
      </div>
    </div>
  </section>