<header class="bg-gray-100 text-black">
    <div class="flex justify-between items-center py-4 px-4">
      
      <div class="flex font-bold">
        <div class="md:h-5 md:w-5">
            <img src="images/tienda.png" class="w-full h-full" alt="logo">
        </div>
        <a href="" class="px-4">POS-APP</a>
      </div>
      
      <!-- <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-gray-300">Inicio</a></li>
          <li><a href="#" class="hover:text-gray-300">Servicios</a></li>
          <li><a href="#" class="hover:text-gray-300">Acerca de</a></li>
          <li><a href="#" class="hover:text-gray-300">Contacto</a></li>
        </ul>
      </nav> -->
    </div>
  </header>
  