<div class="h-full flex flex-col">
  <div class="text-center py-5">
    <h1 class="text-1xl font-semibold text-sm sm:text-sm md:text-lg lg:text-base">Carrito de Compras</h1>
    <p class="text-sm text-gray-600 text-sm sm:text-sm md:text-lg lg:text-base">Productos añadidos al carrito...</p>
  </div>
  <!-- Section list of products in shopping-cart -->
  <div class="flex-1 overflow-y-auto overflow-x-hidden">
    <div class="space-y-4">
      @for(item of products; track item.product.id) {
      <div class="flex items-center justify-between p-4 border-b border-gray-200">
        <img [src]="item.product.image" alt="Producto" class="w-1/5 h-auto object-cover">
        <div class="flex-1 ml-4">
          <div class="w-16 md:w-32">
            <p class="font-semibold text-sm sm:text-sm md:text-lg lg:text-base truncate">{{ item.product.name }}</p>
            <p class="text-sm text-gray-600 text-sm sm:text-sm md:text-lg lg:text-base">$ {{ item.product.price }}</p>
            <div class="flex items-center text-sm sm:text-sm md:text-lg lg:text-base">
              <button (click)="decreaseQuantity(item.product.id)" class="px-2 py-1 text-sm bg-gray-300">-</button>
              <span class="px-2">{{ item.quantity }}</span>
              <button (click)="increaseQuantity(item.product.id)" class="px-2 py-1 text-sm bg-gray-300">+</button>
            </div>
          </div>
        </div>
        <button (click)="deleteElement(item.product.id)"
          class="w-full text-red-500 hover:text-red-700 text-sm sm:text-sm md:text-lg lg:text-base">Eliminar</button>
      </div>
      }
    </div>
  </div>

  <!-- Section sales summary -->
  <div class="border-t border-gray-200 p-4 space-y-4" style="height: 20%;">
    <div class="flex justify-between">
      <p class="font-semibold">Total</p>
      <p class="font-semibold text-sm sm:text-sm md:text-lg lg:text-base">$ {{ totalPrice() }}</p>
    </div>
    <button (click)="openModal()"
      class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 text-sm sm:text-sm md:text-lg lg:text-base">
      Confirmar Compra
    </button>
  </div>
</div>

<!-- Modal -->
<app-modal [isOpen]="isModalOpen" [totalPrice]="totalPrice()" [change]="change" [error]="error"
  (closeModal)="closeModal()" (confirmPayment)="handlePayment($event)" (tryAgain)="handleTryAgaing()"></app-modal>